<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bond Number Input</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <h1>Enter Bond Number</h1>
        <form action="/a_1" method="post">
            <label for="bond">Enter Bond Number:</label>
            <input type="text" id="bond" name="box" required>
            <button type="submit">Submit</button>
        </form>
        {% if a_1_data %}
        <h2>Redemption :</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>Date of
                        Encashment</th>
                    <th>Name of the
                        Political Party</th>
                    <th>Account no. of
                        Political Party</th>
                    <th>Prefix</th>
                    <th>Bond
                        Number</th>
                    <th>Denominations</th>
                    <th>Pay
                        Branch
                        Code</th>
                    <th>Pay
                        Teller</th>
                </tr>
            </thead>
            <tbody>
                {% for row in a_1_data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[7] }}</td>
                        <td>{{ row[8] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if a_2_data %}
        <h2>Purchase :</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>Reference No (URN)</th>
                    <th>Journal
                        Date</th>
                    <th>Date of
                        Purchase</th>
                    <th>Date of
                        Expiry</th>
                    <th>Name of the
                        Purchaser</th>
                    <th>Prefix</th>
                    <th>Bond
                        Number</th>
                    <th>Denominations</th>
                    <th>Issue Branch
                        Code</th>
                    <th>Issue
                        Teller</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for row in a_2_data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[7] }}</td>
                        <td>{{ row[8] }}</td>
                        <td>{{ row[9] }}</td>
                        <td>{{ row[10] }}</td>
                        <td>{{ row[11] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
</body>
</html>